body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.list-group-item {
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
}

.icon-container {
    width: 60px;
    text-align: center;
    flex-shrink: 0;
}

.icon-container i {
    font-size: 48px;
    color: #007bff;
}

.contact-details {
    flex: 1;
}

.contact-details .row {
    margin-bottom: 0.5rem;
}

.contact-details strong {
    font-size: 1.25rem;
}

#add-button-desktop{
    position: fixed;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-button {
    position: fixed;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#add-button {
    right: 20px;
}

#add-button-desktop {
    left: 50%;
    transform: translateX(-50%);
}

/* Mobil nézet (max-width: 1023.98px) */
@media (max-width: 1023.98px) {
    body {
        font-size: 18px;
    }

    h2 {
        font-size: 2rem;
    }

    .list-group-item {
        padding: 1.5rem 0;
    }

    .contact-details strong {
        font-size: 1.5rem;
    }

    .contact-details .row {
        margin-bottom: 1rem;
    }

    #add-button {
        width: 80px;
        height: 80px;
        font-size: 32px;
    }

    .icon-container i {
        font-size: 56px;
    }

    #add-button-desktop {
        display: none;
    }
}

/* Asztali nézet (min-width: 1024px) */
@media (min-width: 1024px) {
    #add-button {
        display: none;
    }

    #add-button-desktop {
        display: flex;
    }
}
